@model SchoolSite.Core.DbModel.WebContent
@{
    ViewBag.Title = "关于我们";
}
@Html.Raw(Model.Content)
@*<h2>@ViewBag.Title</h2>*@
@*    <p class="AboutBody">
        春天软件工作室,赣州专业网站建设公司,专注赣州网站建设。主要从事赣州网站建设,赣州做网站,赣州网站制作,以及赣州微网站开发,为企事业提供专业的电子商务解决方案。我们从客户的利益出发，为客户着想，打造属于客户的专属品牌，为客户带来可观的定单为基本出发点，协助各大中小型企业走向成功的电子商务营销之路。
        日新月异的互联网，已使得各行各业的生存方式与运作模式发生了根本性的变化。行业间的界限变得越来越模糊，竞争越来越激烈，企业的新兴型服务需求也源源不断地诞生，而传统单一的行业服务显然已满足不了今天互联网时代企业与时俱进的发展要求。
        因此， 春天软件这种集网站建设、网站设计、网站优化、seo优化、域名注册、虚拟主机、企业邮局等互联网服务综合优势于一体的新型网络互动服务商便应运而生。
        春天软件传媒凭借资深的网络营销顾问、强大的调研队伍、专业的WEB美工设计、优秀的数据库及程序开发、敬业的客户服务经理等专业团队，以及多年来对互联网络的持续深入研究、对各行业客户的理解、对项目的整体策划控制、对国际化标准和流行趋势的掌握、对客户形象的视觉传递、对应用系统的完美结合等，我们能快速的为企、事业单位提供一站式顾问服务。我们的理念是根据其不同客户的商业发展目标与需求，定制最佳的解决方案开发出最大“价值化”的产品，帮助他们从同行业中脱颖而出。
    </p>
    <h2>
        优势
    </h2>
    <p class="AboutBody">
        只有对客户进行深入透彻的了解，才能明白客户的需求所在，才能建设一个合乎客户需要的网站和提供一整套完善的解决方案。因此天浪科技对每一个项目的客户都会进行详细的需求分析调研。一方面了解项目以及整个所属行业的的各方面情况，另一方面了解客户的需求。网站包含两重点部分，一是给人们展现的形象，另一部分是人性化的使用（功能）。我们提倡 “一切靠作品说话”，只有作品才能最直观地反映一家服务及开发公司的能力。客户的利益是通过案例来体现的，在商业设计的前提下，成功案例是最好的说服力。我们向客户展示了大量的成功案例，这些案例非常直观，客户完全可以从这些直观的案例中了解我们的开发能力对他们来说是否有价值，以及考虑是否需要我们的服务。
        技术，是我们生存与发展的保障
        领先的技术是E点互动为客户提供优质的互联网服务及技术开发的基础。网络行业是一个新兴而且发展迅速的行业，需要不断更新的技术，才能对应时代的脚步！我们凭借长期在行业发展的经验和精诚合作的高效团队，充分发挥每一个工程师的潜力，使他们感受到一种良好的氛围，才能设计开发出具有代表性的案例或适合企业应用的产品，从而，帮助您的企业在同行竞争中获得信息化支持。
        完善的服务体系
        根据客户具体情况制定系列专业和规范的客户服务和保障体系，提供专业的服务，保证售后的服务质量，达到双赢的合作效果我们自信能充分满足您现今与将来的需求，并建立长久合作关系。使客户在后期的服务上无后顾之忧！
    </p>
    <h2>
        原则
    </h2>
    <p class="AboutBody">
        诚信专一
        做人要诚信、做事情要专一、这是做好事情的第一步。
        尊重策略
        正确的策略可以成就一副好的作品，策略是为销售服务的。
        谦虚务实
        我们坚信:只有抓住老鼠的猫，才是好猫，我们喜欢用作品说话。
        讲究效率
        时间是金钱，效率是生命。
        追求精品
        我们每一幅作品都是精品，自己满意，更让客户满意。
        团队协作
        我们只有为客户目标而奋斗的团队，没有精通百般武艺的个人英雄。
    </p>*@
