@model SchoolSite.Core.DbModel.WebContent
@{
    ViewBag.Title = "企业简介";
}
@Html.Raw(Model.Content)
@*<div class="CompanyIntroBody">
    <h1>企业简介</h1>
    <p >
公司概况：春天软件工作室，2015年注册，春天软件以软件技术为核心，提供行业解决方案、产品工程解决方案以及相关产品、平台及服务。
行业解决方案涵盖领域包括：电信、能源、金融、政府（社会保障、财政、税务、公共安全、国土资源、海洋、质量监督检验检疫、工商、知识产权等）、制造业以及商贸流通业、医疗卫生、教育、交通等行业;
发展状况：主要面向赣州企业，为企业提供了网站建站和软件开发服务；
公司文化：公司以“专注用户，用心服务”为核心价值，一切以用户需求为中心，希望通过专业水平和不懈努力，重塑企业网络形象，为企业产品推广文化发展提供服务指导；
公司主要产品：主要为企业提供网站策划，网站设计制作，网站推广优化，企业管理软件设计和开发等服务；
提供服务：春天软件提供包括应用开发和维护、ERP实施与咨询服务、专业测试及性能工程服务、软件全球化与本地化服务、IT基础设施服务、业务流程外包（BPO）、IT教育培训等服务业务；
售后服务：春天软件工作室有详细的售后服务体系。
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>
</div>*@


